/* 모바일용 CSS */
/* 기본 CSS */
#wrap {
    display:flex; /* 모든 환경에서 플렉서블 박스로 작동하게 됨 */
    /* flex-flow: flex-direction(주축 배치 결정)과 flex-wrap(한줄, 여러줄 결정)을 합친 것  */ 
    flex-flow:column nowrap; /* column: 박스를 위에서 아래로 배치함, nowrap: 박스를 한줄로 배치함, 모바일 환경에서 박스가 세로로 한줄씩 배치하게하는 설정 */
    width:80%;
    margin:0 auto;
    max-width:1200px;
}
#wrap section{
    /* box-sizing:border-box : 이 옵션을 사용하면 컨텐츠의 width & height로 설정한 값에 패딩, 보더, 마진 값이 포함되어 만들어 진다.*/
    /* box-sizing:border-box : 이 옵션을 사용하지 않은 일반 박스는 width & height로 설정한 값에 패딩, 보더 값이 포함된다. (마진 값이 포함되지 않는다.) */
    box-sizing:border-box; 
}
/* 인포메이션 영역 CSS */
.info_section{
    order:1;
    width:100%;
    background: #2ecc71;
    border-bottom:1px solid #39d67c;
}
.info_list {
    display:flex; /*인포메이션 리스트 목록에 flex로 설정하여 플렉서블 박스로 작동하게 설정*/
}
.info_list li {
    width:25%;
    text-align: center;
}
.info_list li a {
    display:block;
    padding:15px 0; /* 상하:15px, 좌우:0 */
    padding:0.938rem 0; /* 16px=1em, rem=15px/16px = 0.938 */
}
/* 헤더영역 CSS */
.header {
    display:flex;
    order:2;
    flex-direction:column;
    position:relative;
    width:100%;
}
.logo {
    order:1;
    width:100%;
    padding:30px 0; /* 상하:30px, 좌우:0 */
    padding:1.875rem 0; /* 30px/16px = 1.875 */
    font-size:1.188em;
    font-size:1.188rem;
    line-height:21px;
    line-height:1.313rem; /* 21px/16px= 1.3125 */
    text-align:center;
    text-transform:uppercase; /* 대문자로 변경하는 속성 */
    background:#2ecc71;
    text-shadow:0px 1px 1px #25ab5e; /* 텍스트 그림자 효과 : X축(좌->우) / Y 축 (상->하) /  번짐 정도 / 색깔 및 투명도 */
}
.nav {
    order:2;
    width:100%;
}
.gnb{
    display:none;
}
.gnb li {
    display:flex;
    background: #2c3e50;
}
.gnb li a {
    width: 80%;
    padding:20px 0; /* 상하:20px, 좌우:0 */
    padding:1.250rem 0; /* 20px/16px=1.250rem */
    font-size:0.938em;
    font-size:0.938rem;
    text-indent:20px;
    text-indent:1.250rem; 
    font-weight: bold;
    text-transform:uppercase;
}
.gnb li span { /* 하위 메뉴를 보이고 감추는 역할을 하는 토글 버튼 */
    width:20%;
    text-indent:-9999px;
    background: url(../images/s_images/sub_menu_toggle_btn) center center no-repeat;
    cursor:pointer;
}
.menu_toggle_btn {
    display:block;
    width:30px;
    width:1.875rem; /* 30px/16px=1.875rem */
    height:30px;
    height:1.875rem;
    position:absolute;
    top:10px;
    top:0.625rem;  /* 10px/16px=0.625rem */
    right:10px;
    right:0.625rem;
    text-indent:-9999px;
    background:url(../images/s_images/menu_toggle_btn.png) no-repeat;
    cursor: pointer;
}

/* 서브 헤더 영역 CSS */
.sub_header_section {
    order:3;
    padding:48px 0;
    padding:3.000rem 0;
    text-align:center;
    background: #219af7;
}
.sub_header_section h2 {
    margin-bottom: 12px;
    margin-bottom: 0.750rem;
    font-size:1.3131em;
    font-size:1.3131rem;
    color:#fff;
}
.breadcrum_list li {
    display:inline;
    font-size:0.813em;
    font-size:0.813rem;
    font-weight:bold;
}

/* 콘텐츠 영역 CSS */
.content_section {
    order:4;
    padding:20px;
    padding:1.250rem;
    background: #fff;
}
.content_section > div {
    margin-top:60px;
    margin-top:3.750rem;
}
.content_section > div:first-child {
    margin-top:0;
}
.content_row_1 {
    text-align:center;
}
.content_row_1 img {
    max-width:100%;
}
.content_row_1 h3 {
    margin:26px 0 14px 0;
    margin:1.625rem 0 0.875rem 0;
    font-size:1.626em;
    font-size:1.626rem;
    color:#333;
}
.content_row_1 p {
    font-size:0.938em;
    font-size:0.938rem;
    line-height:26px;
    line-height:1.625rem;
    color:#444;
}
.content_row_2 > article {
    margin-top:40px;
    margin-top:2.500rem;
    text-align:center;
}
.content_row_2 > article:first-child {
    margin-top:0;
}
.content_row_2 img {
    max-width:100%;
}
.content_row_2 h4 {
    margin:26px 0 14px 0;
    margin:1.625rem 0 0.875rem 0;
    font-size:1.188em;
    font-size:1.188rem;
    color:#333;
}
.content_row_2 p {
    font-size:0.813em;
    font-size:0.813rem;
    line-height:21px;
    line-height:1.313rem;
    color:#444;
}
.content_row_3 h4 {
    margin-bottom:20px;
    margin-bottom:1.250rem;
    padding-bottom:8px;
    padding-bottom:0.500rem;
    font-size:1.188em;
    font-size:1.188rem;
    border-bottom:3px solid #2ecc71;
    color:#333;
}
.para p:first-child {
    margin-bottom:30px;
    margin-bottom:1.875rem;
}
.para p {
    font-size:0.813em;
    font-size:0.813rem;
    line-height:21px;
    line-height:1.313rem;
    color:#444;
}

/* 푸터 영역 CSS */
.footer {
    order:5;
    width:100%;
    background: #474747;
}
.footer p {
    padding:20px;
    padding:1.250rem;
    font-size:0.813em;
    font-size:0.813rem;
    text-align:center;
    text-transform:uppercase;
    font-weight:bold;
    color:#fff;
    text-shadow: 0px 1px 1px #191919;
}


/* 태블릿용 CSS */
@media all and (min-width:768px){
/* 헤더영역 CSS */
.header {
    flex-direction:row; /* 가로 배치 설정 */
}
.logo{
    position:absolute;
    top:0;
    left:0;
    z-index:10;
    /* 120px(로고너비값) / 768px = 0.15625 */
    width:15.625%;
    padding:0;
}
.logo a {
    display:block;
    padding:50px 0;
    padding:3.125rem 0;
}
.nav {
    position:relative;
    min-height:80px;
    min-height:5.000rem;
    background: #2ecc71;
}
.gnb {
    position:absolute;
    top:100%;
    right:0;
    z-index:20;
    /* 308px(메뉴목록 영역의 너비값) / 768px = 0.4010416 */
    width:40.1041666666667%;
}
.menu_toggle_btn {
    top:50%;
    right:30px;
    right:1.875rem;
    z-index:20;
    margin-top:-15px;
    margin-top:-0.938rem;
}

/* 컨텐츠 영역 CSS */
.content_section{
    padding:40px;
    padding:2.500rem;
}
.content_section > div {
    margin-top:120px;
    margin-top:7.500rem;
}

/* 푸터 영역 CSS */
.footer p {
    padding:40px 0;
    padding:2.500rem 0;
}

}

/* PC용 CSS */
@media all and (min-width:960px){
/* 기본 CSS */
#wrap {
    position:relative;
    width:90%;
}
/* 인포메이션 CSS */
.info_section {
    order:0;
    position:absolute;
    top:30px;
    top:1.875rem;
    right:30px;
    right:1.875rem;
    z-index:30;
    width:auto;
    border-bottom:0;
}
.info_list li {
    width:auto;
    margin-left:15px;
    margin-left:0.625rem;
}
.info_list li a {
    padding:0;
}
/* 헤더 영역 CSS */
.header {
    order:1;
    justify-content: flex-end;
    position:static;
}
.logo {
    /* 120px(로고 너비값) / 960px = 0.125 */
    width:12.5%;
}
.nav {
    display:flex;
    align-items: center;
    position:static;
    /* 840px / 960p = 0.875 */
    width:87.5%;
}
.gnb {
    display:flex !important;
    flex-direction:row;
    position:static;
    width:100%;
    text-shadow:0px 1px 1px #25ab5e;
}
.gnb li {
    display:block;
    /* 50px / 840px = 0.052083333333 */
    margin-left:5.208333333333333%;
    background: none;
}
.gnb li a {
    width:auto;
    padding:0;
    text-indent:0;
}
.gnb li span {
    display:none;
}
.menu_toggle_btn {
    display:none;
}
/* 서브 헤더 영역 CSS */
.sub_header_section{
    order:2;
}
/* 컨텐츠 영역 CSS */
.content_section{
    order:3;
    padding:60px;
    padding:3.750rem;
}
.content_row_2 {
    display:flex;
    justify-content: space-between;
}
.content_row_2 article {
    width:30%; /* 252px/840px */
    margin:0;
}
.para {
    display:flex;
    justify-content: space-between;
}
.para p {
    width:47.61904761904762%; /* 400px/840px */
    margin:0;
}

/* 푸터 영역 CSS */
.footer {
    order:4;
}
.footer p{
    padding-left:3.125%;
    text-align:center;
}


}